{% extends '_layouts/base.njk' %}

{% block content %}
<article class="container">
  <div class="row">
    <div class="col-sm-4 left-rail">
      <h1>{{ member.name }}</h1>
      <h2>{{ member.tenure}}</h2>
      <h5>{{ member.instruments }}</h5>
      <p>{{ member.text }}</p>
    </div>
    <div class="col-sm-8">
    </div>
  </div>
  </article>

{% endblock %}