{% extends '_layouts/base.njk' %}

{% block content %}
<article class="container">
<div class="row">
  <div class="col-4">
    <img class="img-fluid" src= "img/members/{{ members.image }}">
  </div>
  <div class="col-8">
    <h1>{{ members.name }}</h1>
      <h2>{{ members.tenure}}</h2>
        <h5>{{ members.instruments }}</h5>
          <p>{{ members.text }}</p>
  </div>
</div>
  
</article>

{% endblock %}