h1, h2, h3, h4, h5{
  font-family: 'Playfair Display', serif;
  font-weight: bold;
}

p{
  font-family: 'Playfair Display', serif;
  text-align: center;
}

.card-deck{
  margin: 0 auto;
  float: none;
  margin-bottom: 10px;
}

.media body{
  padding: 25rem;
  border: 2rem;
}


