.img-fluid {
  max-width: 100%;
  height: auto;
}

.card{
  max-width: 50;
  height: auto;
  border: 20rem;
}

.card-img-top{
  max-width: 50;
  height: auto;
}

.card-text{
  max-width: 50;
  height: auto;
}