.img-fluid {
  max-width: 100%;
  height: auto;
}

.card-deck{
  max-width: 50;
  height: auto;
  border: 20rem;
}

.card-img-top{
  max-width: 50;
  height: auto;
}

.card-body{
  max-width: 50;
  height: 30rem;
}

.card-title{
  max-width: 50;
  height: auto;
}

.card-text{
  max-width: 50;
  height: auto;
}
